################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/그림판 구현 서버/Debug
/그림판 구현 클라이언트/.vs/PrjClient/v17/Current/ipch/AutoPCH/d5ec63f702c03afb
/그림판 구현 클라이언트/.vs/PrjClient/v17/Current/Browse.VC.opendb
/그림판 구현 클라이언트/.vs/PrjClient/v17/Current/Browse.VC.db-wal
/그림판 구현 클라이언트/.vs/PrjClient/v17/Current/Browse.VC.db-shm
/그림판 구현 클라이언트/.vs/PrjClient/v17/Current/Browse.VC.db
/그림판 구현 서버/.vs/PrjServer/v17/Current
